.hero-details-container{
   width: 500px;
   margin: auto;
   text-align: center;
}

.hero-details-container span, label{
    font-weight: bold;
}

.hero-details-container h2{
    margin-top: 220px;
    text-align: center;
}

.hero-details{
    margin-top: 20px;
    text-align: center;
}